<% include partials/header %>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div id="accountContent">
          <h2>Hi <%= currentUser.username %></h2>
        </div>
      </div>
    </div>
  </div>
  <div id="accountContent">
    <a href="/">Go Back</a>
  </div>

<% include partials/footer %>
